<section id="add-popup" class="popup">
    <button class="add-popup_close popup-close"><i class="bx bx-x"></i></button>
    <h1>Add New Item</h1>

    <form id="add-form" enctype="multipart/form-data">
        <div id="popup-form-wrapper">
            <div id="popup-left-wrapper" class="popup-default-wrapper">
                {{! Product Name / Product Code / Product Image }}
                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="name">Product Name<span style="color: red">*</span></label>
                        <input type="text" id="name" name="name" />
                    </div>

                    <div class="item-wrapper">
                        <label for="code">Product Code<span style="color: red">*</span></label>
                        <input type="text" id="code" name="code" />
                    </div>
                </div>

                {{! Product Description}}
                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="description">Product Description</label>
                        <textarea id="description" name="description"></textarea>
                    </div>
                </div>

                {{! Type / Selling Type / Brand }}
                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="type">Type<span style="color: red">*</span></label>
                        <!-- change in db -->
                        <select id="type" name="type">
                            <option value="" disabled selected>Select</option>
                            <option value="Bracelet">Bracelet</option>
                            <option value="Chain">Chain</option>
                            <option value="Earrings">Earrings</option>
                            <option value="Necklace">Necklace</option>
                            <option value="Pendant">Pendant</option>
                            <option value="Ring">Ring</option>
                            <option value="Watch">Watch</option>
                        </select>
                    </div>

                    <div class="item-wrapper">
                        <label for="selling-type"
                            >Selling Type<span style="color: red">*</span></label
                        >
                        <select id="selling-type" name="sellingType">
                            <option value="" disabled selected>Select</option>
                            <option value="per design">per design</option>
                            <option value="per gram">per gram</option>
                        </select>
                    </div>

                    <div class="item-wrapper">
                        <label for="brand">Brand</label>
                        <select id="brand" name="brand">
                            <option value="Unbranded">Unbranded</option>
                            <option value="Branded">Branded</option>
                        </select>
                    </div>
                </div>

                {{! Design / Classification / Size or Length }}
                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="design">Design</label>
                        <select id="design" name="design">
                            <option value="" disabled selected>Select</option>
                            <option value="Regular">Regular</option>
                            <option value="Special">Special</option>
                            <option value="Very Special">Very Special</option>
                            <option value="Very Very Special">Very Very Special</option>
                            <option value="Very Very Very Special">Very Very Very Special</option>
                        </select>
                    </div>

                    <div class="item-wrapper">
                        <label for="classification">Classification</label>
                        <select id="classification" name="classification">
                            <option value="" disabled selected>Select</option>
                            <option value="10 karat">10 karat</option>
                            <option value="14 karat">14 karat</option>
                            <option value="18 karat">18 karat</option>
                            <option value="21 karat">21 karat</option>
                            <option value="22 karat">22 karat</option>
                            <option value="24 karat">24 karat</option>
                        </select>
                    </div>

                    <div class="item-wrapper">
                        <label for="size">Size/Length</label>
                        <div class="item-wrapper-wrapper">
                            <input type="text" id="size" name="size" />
                            <select id="unit" name="unit">
                                <option value="cm">cm</option>
                                <option value="mm">mm</option>
                                <option value="inch">inch</option>
                            </select>
                        </div>
                    </div>
                    {{!--
                    <div class="item-wrapper">
                        <label for="status">Item Status</label>
                        <select id="status" name="status">
                            <!-- change in db -->
                            <option value="Available">Available</option>
                            <option value="Damaged">Damaged</option>
                            <option value="Sold Out">Sold Out</option>
                        </select>
                    </div>
                    --}}
                </div>

                {{! Available Quantity / Sold Quantity / Damaged Quantity }}
                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="available"
                            >Available Quantity<span style="color: red">*</span></label
                        >
                        <div class="quantity-wrapper">
                            <button
                                onclick="decrease(this.parentNode.querySelector('input'))"
                                type="button"
                            >
                                -
                            </button>
                            <input
                                type="text"
                                id="available"
                                class="quantity"
                                name="available"
                                maxlength="15"
                            />
                            <button
                                onclick="increase(this.parentNode.querySelector('input'))"
                                type="button"
                            >
                                +
                            </button>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <label for="sold">Sold Quantity</label>
                        <div class="quantity-wrapper">
                            <button
                                onclick="decrease(this.parentNode.querySelector('input'))"
                                type="button"
                            >
                                -
                            </button>
                            <input
                                type="text"
                                id="sold"
                                class="quantity"
                                name="sold"
                                maxlength="15"
                            />
                            <button
                                onclick="increase(this.parentNode.querySelector('input'))"
                                type="button"
                            >
                                +
                            </button>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <label for="damaged">Damaged Quantity</label>
                        <div class="quantity-wrapper">
                            <button
                                onclick="decrease(this.parentNode.querySelector('input'))"
                                type="button"
                            >
                                -
                            </button>
                            <input
                                type="text"
                                id="damaged"
                                class="quantity"
                                name="damaged"
                                maxlength="15"
                            />
                            <button
                                onclick="increase(this.parentNode.querySelector('input'))"
                                type="button"
                            >
                                +
                            </button>
                        </div>
                    </div>
                </div>

                {{! Weight / Selling Price / Purchase Price }}
                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="weight">Weight</label>
                        <input type="text" id="weight" name="weight" />
                        <span>GRAMS</span>
                    </div>

                    <div class="item-wrapper">
                        <label for="selling-price">Selling Price</label>
                        <input type="text" id="selling-price" name="sellingPrice" />
                    </div>

                    <div class="item-wrapper">
                        <label for="purchase-price">Purchase Price</label>
                        <input type="text" id="purchase-price" name="purchasePrice" />
                    </div>
                </div>
            </div>

            <div id="popup-right-wrapper" class="popup-default-wrapper">
                <img draggable="false" id="image-preview" src="/img/product-images/default.png" />
                <i class="bx bx-x remove-image"></i>
                <label for="image" class="popup-label-image">Product Image</label>
                <label for="image" class="button-secondary">
                    Upload image
                    <input
                        type="file"
                        id="image"
                        accept=""
                        accept=".png, .jpg, .jpeg"
                        name="image"
                    />
                </label>
                <p class="text-error"></p>
            </div>
        </div>

        <div class="command">
            <button type="reset">Cancel</button>
            <button type="submit" id="add-item-button">Add Item</button>
        </div>
    </form>
    <h1 class="drag-drop-text">Drop image anywhere</h1>
</section>
