<section id="create-popup" class="popup">
    <button class="create-popup_close">X</button>
    <h1 id="popup-title">Create User</h1>

    <form id="create-form" enctype="multipart/form-data">
        <div id="popup-form-wrapper">
            <div id="popup-left-wrapper">
                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="create-username">Username</label><br />
                        <input
                            type="text"
                            id="create-username"
                            name="username"
                            autocomplete="username"
                        /><br />
                    </div>
                </div>

                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="create-first-name">First Name</label><br />
                        <input type="text" id="create-first-name" name="firstName" /><br />
                    </div>
                </div>

                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="create-last-name">Last Name</label><br />
                        <input type="text" id="create-last-name" name="lastName" /><br />
                    </div>
                </div>

                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="create-password">Password</label><br />
                        <input
                            type="password"
                            id="create-password"
                            name="password"
                            autocomplete="new-password"
                        /><br />
                    </div>
                </div>

                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="create-confirm-password">Confirm Password</label><br />
                        <input
                            type="password"
                            id="create-confirm-password"
                            name="confirmPassword"
                            autocomplete="new-password"
                        /><br />
                    </div>
                </div>
                <p class="text-error create-text-error"></p>
            </div>
        </div>
        <div class="command">
            <button type="reset">Cancel</button>
            <button type="submit" id="create-user-button">Create</button>
        </div>
    </form>
</section>
