<section id="create-popup" class="popup">
    <button class="create-popup_close popup-close">X</button>
    <h1 id="popup-title">Create User</h1>

    <form id="create-form" class="create-update-form" enctype="multipart/form-data">
        <div id="popup-form-wrapper">
            <div id="popup-left-wrapper">
                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="create-username" id="username-label">Username</label><br />
                        <input
                            type="text"
                            class="create-update-input"
                            id="create-username"
                            name="username"
                            autocomplete="username"
                        /><br />
                    </div>
                </div>

                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="create-first-name" id="first-name-label">First Name</label
                        ><br />
                        <input
                            type="text"
                            class="create-update-input"
                            id="create-first-name"
                            name="firstName"
                        /><br />
                    </div>
                </div>

                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="create-last-name" id="last-name-label">Last Name</label><br />
                        <input
                            type="text"
                            class="create-update-input"
                            id="create-last-name"
                            name="lastName"
                        /><br />
                    </div>
                </div>

                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="create-password" id="password-label">Password</label><br />
                        <input
                            type="password"
                            class="create-update-input"
                            id="create-password"
                            name="password"
                            autocomplete="new-password"
                        /><br />
                    </div>
                </div>

                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="create-confirm-password" id="confirm-password-label"
                            >Confirm Password</label
                        ><br />
                        <input
                            type="password"
                            class="create-update-input"
                            id="create-confirm-password"
                            name="confirmPassword"
                            autocomplete="new-password"
                        /><br />
                    </div>
                </div>
                <p class="text-error create-text-error"></p>
            </div>
        </div>
        <div class="command">
            <button type="reset" id="cancel-create-button">Cancel</button>
            <button type="submit" id="create-user-button">Create</button>
        </div>
    </form>
</section>
