<section class="popup" id="import-options-popup">
    <button class="import-options-popup_close popup-close">X</button>
    <h1>Import Options</h1>

    <div class="popup-row-wrapper">
        <div class="item-wrapper">
            <button id="download-template">Download Template</button>
        </div>

        <div class="item-wrapper">
            <label for="import-csv" class="button-secondary">
                Import CSV
                <input type="file" id="import-csv" accept="" accept=".csv" name="import-csv" />
            </label>
        </div>
    </div>
    <div class="popup-row-wrapper" id="import-loading">
        <div class="item-wrapper">
            <p>Importing</p>
            <box-icon name="loader-alt" animation="spin"></box-icon>
        </div>
    </div>
</section>
