<section class ="popup" id="import-options-popup">
    <button class="import-options-popup_close">X</button>
    <h1>Import Options</h1>

    <div class="popup-row-wrapper">
        <div class="item-wrapper">
            <button id="download-template">Download Template</button>
        </div>

        <div class="item-wrapper">
            <label for="import-csv" class="button-secondary">
                Import CSV
                <input type="file" id="import-csv" accept="" accept=".csv" name="import-csv" />
            </label>
        </div>
    </div>
</section>
