<section class="popup" id="import-results-popup">
    <button class="import-results-popup_close popup-close">X</button>
    <h1>Import Results</h1>

    <div class="popup-row-wrapper">
        Errors
        <span id="error-span"></span>
    </div>
    <div class="popup-row-wrapper">
        Success
        <span id="success-span"></span>
    </div>
</section>
