<section id="remove-popup" class="popup">
    <button class="remove-popup_close popup-close">X</button>
    <h1>Remove Damage</h1>

    <form id="remove-form" class="remove-sell-common" enctype="multipart/form-data">
        <p class="text-error"></p>
        <div class="popup-row-wrapper">
            {{#if inventory}}
            <div class="item-wrapper">
                <label for="code">Product Code</label><br />
                <input type="text" id="remove-code" name="code" /><br />
            </div>
            {{/if}}
            <div class="item-wrapper">
                <label for="remove-quantity">Quantity</label><br />
                <input type="text" id="remove-quantity" name="quantity" /><br />
            </div>
        </div>

        <div class="command">
            <button type="reset">Cancel</button>
            <button type="submit" id="remove">Remove Item/s</button>
        </div>
    </form>
</section>
