<section id="reset-popup" class="popup">
    <h1>Reset User</h1>
    <form id="reset-form">
        <div class="popup-row-wrapper">
            <div class="item-wrapper">
                <i class="material-symbols-outlined" id="replay-symbol">replay</i>
                <p id="certainty-popup">
                    Are you sure you want to reset password of <span id="reset-username"></span>?
                </p>
            </div>
        </div>

        <div class="command">
            <button class="reset-popup_close">Cancel</button>
            <button type="submit" id="reset-user-button">Reset User Password</button>
        </div>
    </form>
</section>
