<section id="reset-popup" class="popup">
    <h1>Reset User</h1>

    <form id="reset-form" enctype="multipart/form-data"></form>
        <div class="popup-row-wrapper">
            <div class="item-wrapper">
                <i class="material-symbols-outlined" id = "replay-symbol">replay</i>
                <p id = "certainty-popup">Are you sure you want to reset<p id = "reset-user-name"></p></p>
            </div>
        </div>

        <div class="command">
            <button class="reset-popup_close">Cancel</button>
            <button type="submit" id="reset-user-button">Reset User</button>
        </div>
    </form>
</section>