<section id="reset-popup" class="popup">
    <h1>Reset User Password</h1>
    <form id="reset-form" class="confirm-type-form">
        <div class="popup-row-wrapper">
            <i class="material-symbols-outlined confirm-type-symbol" id="replay-symbol">replay</i>
            <p id="certainty-text">
                Are you sure you want to reset password of
                <b><span id="reset-username" class="confirm-type-text-highlight"></span></b>?
            </p>
        </div>

        <div class="command">
            <button type="reset" class="reset-popup_close">Cancel</button>
            <button type="submit" id="reset-user-button">Reset User</button>
        </div>
    </form>
</section>
