<section id="resume-popup" class="popup">
    <h1>Resume User</h1>
    <form id="resume-form">
        <div class="popup-row-wrapper">
            <div class="item-wrapper">
                <i class="material-symbols-outlined" id="block-symbol">block</i>
                <p id="certainty-popup">
                    Are you sure you want to resume <span id="resume-username"></span>?
                </p>
            </div>
        </div>

        <div class="command">
            <button class="resume-popup_close">Cancel</button>
            <button type="submit" id="resume-user-button">resume User</button>
        </div>
    </form>
</section>
