<section id="resume-popup" class="popup">
    <h1>Resume User</h1>
    <form id="resume-form" class="confirm-type-form">
        <div class="popup-row-wrapper">
            <i class="material-symbols-outlined confirm-type-symbol" id="play-symbol">play_arrow</i>
            <p id="certainty-text">
                Are you sure you want to resume
                <span id="resume-username" class="confirm-type-text-highlight"></span>?
            </p>
        </div>

        <div class="command">
            <button type="reset" class="resume-popup_close">Cancel</button>
            <button type="submit" id="resume-user-button">Resume</button>
        </div>
    </form>
</section>
