<section id="suspend-popup" class="popup">
    <h1>Suspend User</h1>
    <form id="suspend-form">
        <div class="popup-row-wrapper">
            <div class="item-wrapper">
                <i class="material-symbols-outlined" id="block-symbol">block</i>
                <p id="certainty-popup">
                    Are you sure you want to suspend <span id="suspend-username"></span>?
                </p>
            </div>
        </div>

        <div class="command">
            <button class="suspend-popup_close">Cancel</button>
            <button type="submit" id="suspend-user-button">Suspend User</button>
        </div>
    </form>
</section>
