<section id="suspend-popup" class="popup">
    <h1>Suspend User</h1>
    <form id="suspend-form" class="confirm-type-form">
        <div class="popup-row-wrapper">
            <i class="material-symbols-outlined confirm-type-symbol" id="block-symbol">block</i>
            <p id="certainty-text">
                Are you sure you want to suspend
                <span id="suspend-username" class="confirm-type-text-highlight"></span>?
            </p>
        </div>

        <div class="command">
            <button type="reset" class="suspend-popup_close">Cancel</button>
            <button type="submit" id="suspend-user-button">Suspend</button>
        </div>
    </form>
</section>
