<section id="suspend-popup" class="popup">
    <button class="suspend-popup_close">X</button>
    <h1>Suspend User</h1>

    <form id="suspend-form" enctype="multipart/form-data"></form>
        <div class="popup-row-wrapper">
            <div class="item-wrapper">
                <img id="image-preview" />
                <p>Are you sure you want to suspend<p id = "suspend-user-name"></p></p>
            </div>
        </div>

        <div class="command">
            <button type="reset">Cancel</button>
            <button type="submit" id="suspend">Suspend User</button>
        </div>
    </form>
</section>