<section id="update-popup" class="popup">
    <button class="update-popup_close popup-close">X</button>
    <h1>Update User</h1>

    <form id="update-form" class="create-update-form" enctype="multipart/form-data">
        <div id="popup-form-wrapper">
            <div id="popup-left-wrapper">
                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="update-username" id="username-label">Username</label><br />
                        <input
                            type="text"
                            class="create-update-input"
                            id="update-username"
                            name="username"
                        /><br />
                    </div>
                </div>

                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="update-first-name" id="first-name-label">First Name</label
                        ><br />
                        <input
                            type="text"
                            class="create-update-input"
                            id="update-first-name"
                            name="firstName"
                        /><br />
                    </div>
                </div>

                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="update-last-name" id="last-name-label">Last Name</label><br />
                        <input
                            type="text"
                            class="create-update-input"
                            id="update-last-name"
                            name="lastName"
                        /><br />
                    </div>
                </div>

                <p class="text-error update-text-error"></p>
            </div>
        </div>
        <div class="command">
            <button type="reset" class = "cancel-update" id="cancel-update-button">Cancel</button>
            <button type="submit" class = "cancel-update" id="update-user-button">Update</button>
        </div>
    </form>
</section>
