<section id="update-popup" class="popup">
    <button class="update-popup_close">X</button>
    <h1>Update User</h1>

    <form id="update-form" enctype="multipart/form-data">
        <div id="popup-form-wrapper">
            <div id="popup-left-wrapper">
                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="update-username">Username</label><br />
                        <input type="text" id="update-username" name="username" /><br />
                    </div>
                </div>

                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="update-first-name">First Name</label><br />
                        <input type="text" id="update-first-name" name="firstName" /><br />
                    </div>
                </div>

                <div class="popup-row-wrapper">
                    <div class="item-wrapper">
                        <label for="update-last-name">Last Name</label><br />
                        <input type="text" id="update-last-name" name="lastName" /><br />
                    </div>
                </div>

                <p class="text-error update-text-error"></p>
            </div>
        </div>
        <div class="command">
            <button type="reset">Cancel</button>
            <button type="submit" id="update-user-button">Update</button>
        </div>
    </form>
</section>
