<main>
    <div>
        <img draggable="false" src="/img/logos/icon.png" id="icon-404" />
    </div>

    <h1 id="text-title">404 - Not Found</h1>
    <h2 id="text-subtitle">Can't find page.</h2>
    <div id="goback-container">
        <a href="/" class="goback-text">Go back</a>
        <i class="bx bx-arrow-back icon-return"></i>
    </div>
</main>
