{{>sidebar}}
<main class="main-section">
    <section>
        <section id="main-control">
            <h1>Account Management</h1>

            <div id="table-actions-wrapper">
                <div id="table-filters-wrapper">
                    {{! Search }}
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input class="input-field" type="text" placeholder="Search" id="search-user" />
                    {{! Apply Button }}
                    <button type="button" class="table-filter" id="table-filter-apply">
                        Apply Filter
                    </button>
                </div>

                <div class="main-action">
                    <button class="create-popup_open">Create User</button>
                </div>
            </div>
        </section>

        {{> createUserPopup}}
    </section>

    <section id="main-body">
        <div id="user-grid"></div>
        {{> updateUserPopup}} {{> resetUserPopup}} {{> suspendUserPopup}} {{> resumeUserPopup}}
    </section>
</main>
