{{>sidebar}}
<main class="main-section">
    <section>
        <form id="password-form">
            <div id="form-wrapper">
                <h1>Change Password</h1>

                <div id="change-password-wrapper">
                    <label for="newPassword" id="new-password-label">New Password</label>
                    <input type="password" id="new-password" name="newPassword" />

                    <label for="confirm-password" id="confirm-password-label">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirmPassword" />

                    <p class="text-error"></p>
                </div>
                <div class="command">
                    <button type="submit" id="change">Change</button>
                </div>
            </div>
        </form>
    </section>
</main>
