{{>sidebar}}
<main>
    <div id="configurations-wrapper">
        <div id="upper-table">
            <h2>Configure Product Attributes</h2>

            <div id="config-attrib-grid-sidebar"></div>
            <div id="config-attrib-grid"></div>

            <button class="add-btn" id="new-attribute">New Attribute</button>
        </div>

        <div id="lower-table">
            <div id="config-type-wrapper">
                <h3>Configure Attributes for Product Type</h3>
                <div id="config-type-grid-sidebar"></div>
                <div id="config-type-grid"></div>
                <div class="btn-wrapper">
                    <button id="type-save">Save</button>
                    <button id="type-reset">Reset</button>
                </div>
            </div>
        </div>
    </div>
</main>
