{{>sidebar}}
<main>
    <div id="configurations-wrapper">
        <div id="upper-table">
            <h1>Configure Product Attributes</h1>

            <div id="config-attrib-grid-sidebar"></div>
            <div id="config-attrib-grid"></div>

            <button class="add-btn" id="new-attribute">New Attribute</button>
        </div>

        <div id="lower-table">
            <h1>Configure Product Options</h1>

            <div id="config-options-grid"></div>
        </div>
    </div>
</main>
