{{>sidebar}}
<main>
    <section>
        <h1>Configure Product Attributes</h1>

        <div id="config-attrib-grid"></div>
    </section>

    <section>
        <h1>Configure Product  Options</h1>

        <div id="config-options-grid"></div>
    </section>
</main>
