{{>sidebar}}
<main>
    <div id="configurations-wrapper">
        <div id="upper-table">
            <h2>Configure Product Attributes</h2>

            <div id="config-attrib-grid-sidebar"></div>
            <div id="config-attrib-grid"></div>

            <button class="add-btn" id="new-attribute">New Attribute</button>
        </div>

        <div id="lower-table">
            <div id="config-options-wrapper">
                <h4>Configure Collections</h4>
                <div id="config-options-grid-sidebar"></div>
                <div id="config-options-grid"></div>
                <div class="btn-wrapper">
                    <button id="options-new">New Option</button>
                    <button id="options-delete">Delete Option</button>

                </div>
            </div>
            <div id="config-type-wrapper">
                <h4>Configure Attributes for Product Type</h4>
                <div id="config-type-grid-sidebar"></div>
                <div id="config-type-grid"></div>
                <div class="btn-wrapper">
                    <button id="typr-new">New Option</button>
                    <button id="type-delete">Delete Option</button>
                </div>
            </div>
        </div>
    </div>
</main>
