{{>sidebar}}
<main class="main-section">
    <section>
        <section id="main-control">
            <h1>Inventory List</h1>

            <div id="table-actions-wrapper">
                <div id="table-filters-wrapper">
                    {{! Search }}
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input
                        class="input-field"
                        type="text"
                        placeholder="Search"
                        id="filter-search"
                    />

                    {{! Type }}
                    <div class="dropdown-select-wrapper">
                        <select disabled>
                            <option id="dropdown-type-select" disabled selected value>Type</option>
                        </select>
                        <div class="dropdown-select-content">
                            <button class="dropdown-type" type="button">Chain</button>
                            <button class="dropdown-type" type="button">Bracelet</button>
                            <button class="dropdown-type" type="button">Earrings</button>
                            <button class="dropdown-type" type="button">Necklace</button>
                            <button class="dropdown-type" type="button">Pendant</button>
                            <button class="dropdown-type" type="button">Ring</button>
                            <button class="dropdown-type" type="button">Set</button>
                            <button class="dropdown-type" type="button">Watch</button>
                        </div>
                    </div>

                    {{!
                    <select>
                        <option disabled selected value>Type</option>
                        <option>Chain</option>
                        <option>Braceclet</option>
                        <option>Earrings</option>
                        <option>Necklace</option>
                        <option>Pendant</option>
                        <option>Ring</option>
                        <option>Set</option>
                        <option>Watch</option>
                    </select>
                    }} {{! Classification }}
                    <div class="dropdown-select-wrapper">
                        <select disabled>
                            <option id="dropdown-classification-select" disabled selected value>
                                Classification
                            </option>
                        </select>
                        <div class="dropdown-select-content">
                            <button class="dropdown-classification" type="button">10 karat</button>
                            <button class="dropdown-classification" type="button">14 karat</button>
                            <button class="dropdown-classification" type="button">18 karat</button>
                            <button class="dropdown-classification" type="button">21 karat</button>
                            <button class="dropdown-classification" type="button">22 karat</button>
                            <button class="dropdown-classification" type="button">24 karat</button>
                        </div>
                    </div>

                    {{!
                    <select>
                        <option disabled selected value>Classification</option>
                        <option>10 karat</option>
                        <option>14 karat</option>
                        <option>18 karat</option>
                    </select>
                    }} {{! Status }}
                    <div class="dropdown-select-wrapper">
                        <select disabled>
                            <option id="dropdown-status-select" disabled selected value>
                                Status
                            </option>
                        </select>
                        <div class="dropdown-select-content">
                            <button class="dropdown-status" type="button">Available</button>
                            <button class="dropdown-status" type="button">Damaged</button>
                            <button class="dropdown-status" type="button">Sold Out</button>
                        </div>
                    </div>

                    {{!
                    <select>
                        <option disabled selected value>Status</option>
                    </select>
                    }} {{! Weight }}
                    <div class="dropdown-btn">
                        <span>WEIGHT RANGE</span>
                        <div class="range-wrapper">
                            <div class="gram-wrapper">
                                <input type="text" class="input-field" id="weight-min" size="2" />
                                <span>GRAMS</span>
                            </div>
                            <span>to</span>
                            <div class="gram-wrapper">
                                <input type="text" class="input-field" id="weight-max" size="2" />
                                <span>GRAMS</span>
                            </div>
                        </div>
                    </div>

                    {{! Size }}
                    <div class="dropdown-btn">
                        <span>SIZE RANGE</span>
                        <div class="range-wrapper">
                            <input type="text" class="input-field" id="size-min" size="2" />
                            <span>to</span>
                            <input type="text" class="input-field" id="size-max" size="2" />
                        </div>
                        <select>
                            <option selected>cm</option>
                            <option>inches</option>
                        </select>
                    </div>

                    {{! Apply Button }}
                    <button type="button" id="table-filter-apply">Apply Filter</button>
                    <button type="button" id="table-filter-clear">Clear Filter</button>
                </div>
                
                <div id="add">
                    <button class="restock-popup_open">Restock Item</button>
                </div>

                <div id="add">
                    <button class="sell-popup_open">Sell Item</button>
                </div>

                <div id="add">
                    <button class="add-popup_open">Add Item</button>
                    <button class="export">+</button>
                </div>
            </div>
        </section>

        {{>restockPopup}} {{>sellPopup}} {{>addPopup}}
    </section>

    <section id="main-body">
        {{!place code for the w2ui table here }}
        <div id="item-grid"></div>
    </section>
</main>

<img id="w2ui-enlarged-image" src="/img/product-images/default.png" />
