{{>sidebar}}
<main class="main-section">
    <section>
        <section id="main-control">
            <h1>Inventory List</h1>

            <div id="table-actions-wrapper">
                <div id="table-filters-wrapper">
                    {{! Search }}
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input
                        class="input-field"
                        type="text"
                        placeholder="Search"
                        id="filter-search"
                    />

                    {{! Type }}
                    <div class="dropdown-select-wrapper">
                        <select disabled>
                            <option disabled selected value>Type</option>
                        </select>
                        <div class="dropdown-select-content">
                            <button type="button">Chain</button>
                            <button type="button">Braceclet</button>
                            <button type="button">Earrings</button>
                            <button type="button">Necklace</button>
                            <button type="button">Pendant</button>
                            <button type="button">Ring</button>
                            <button type="button">Set</button>
                            <button type="button">Watch</button>
                        </div>
                    </div>

                    {{!
                    <select>
                        <option disabled selected value>Type</option>
                        <option>Chain</option>
                        <option>Braceclet</option>
                        <option>Earrings</option>
                        <option>Necklace</option>
                        <option>Pendant</option>
                        <option>Ring</option>
                        <option>Set</option>
                        <option>Watch</option>
                    </select>
                    }} {{! Classification }}
                    <div class="dropdown-select-wrapper">
                        <select disabled>
                            <option disabled selected value>Classification</option>
                        </select>
                        <div class="dropdown-select-content">
                            <button type="button">10 karat</button>
                            <button type="button">14 karat</button>
                            <button type="button">18 karat</button>
                            <button type="button">21 karat</button>
                            <button type="button">22 karat</button>
                            <button type="button">24 karat</button>
                        </div>
                    </div>

                    {{!
                    <select>
                        <option disabled selected value>Classification</option>
                        <option>10 karat</option>
                        <option>14 karat</option>
                        <option>18 karat</option>
                    </select>
                    }} {{! Status }}
                    <div class="dropdown-select-wrapper">
                        <select disabled>
                            <option disabled selected value>Status</option>
                        </select>
                        <div class="dropdown-select-content">
                            <button type="button">In Stock</button>
                            <button type="button">No Stock</button>
                        </div>
                    </div>

                    {{!
                    <select>
                        <option disabled selected value>Status</option>
                    </select>
                    }} {{! Weight }}
                    <div class="dropdown-btn">
                        <select disabled>
                            <option disabled selected value>Weight</option>
                        </select>
                        <div class="dropdown-content">
                            <span>WEIGHT RANGE</span>
                            <div class="range-wrapper">
                                <div class="gram-wrapper">
                                    <input type="text" class="input-field" size="2" />
                                    <span>GRAMS</span>
                                </div>
                                <span>to</span>
                                <div class="gram-wrapper">
                                    <input type="text" class="input-field" size="2" />
                                    <span>GRAMS</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{! Size }}
                    <div class="dropdown-btn">
                        <select disabled>
                            <option disabled selected value>Size</option>
                        </select>
                        <div class="dropdown-content">
                            <span>SIZE RANGE</span>
                            <div class="range-wrapper">
                                <input type="text" class="input-field" size="2" />
                                <span>to</span>
                                <input type="text" class="input-field" size="2" />
                            </div>
                            <select>
                                <option selected>cm</option>
                                <option>inches</option>
                            </select>
                        </div>
                    </div>

                    {{! Apply Button }}
                    <button type="button" id="table-filter-apply">Apply Filter</button>
                </div>

                <div id="add">
                    <button class="popup_open">Add Item</button>
                    <button class="export">+</button>
                </div>
            </div>
        </section>

        {{> itemPopup}}
    </section>

    <section id="main-body">
        {{!place code for the w2ui table here }}
        <div id="itemGrid"></div>
    </section>
</main>

<img id="w2ui-enlarged-image" src="img/test.png" />
