{{>sidebar}}
<main class="main-section">
    <section>
        <section id="main-control">
            <h1>Inventory List</h1>

            <div id="table-actions-wrapper">
                <div id="table-filters-wrapper">
                    {{! Search }}
                    <div>
                        <label for="filter-search"><i class="bx bx-search"></i></label>
                        <input
                            class="input-field"
                            type="text"
                            placeholder="Search"
                            id="filter-search"
                        />
                    </div>

                    {{! Type }}
                    <div class="dropdown-select-wrapper">
                        <select id="filter-type">
                            <option disabled selected hidden>Type</option>
                            <option>Chain</option>
                            <option>Bracelet</option>
                            <option>Earrings</option>
                            <option>Necklace</option>
                            <option>Pendant</option>
                            <option>Ring</option>
                            <option>Set</option>
                            <option>Watch</option>
                        </select>
                        {{!--
                        <div class="dropdown-select-content">
                            <button class="dropdown-type" type="button">Chain</button>
                            ...
                        </div>
                        --}}
                    </div>

                    {{! Classification }}
                    <div class="dropdown-select-wrapper">
                        <select id="filter-classification">
                            <option id="dropdown-classification-select" disabled selected hidden>
                                Classification
                            </option>
                            <option>10 karat</option>
                            <option>14 karat</option>
                            <option>18 karat</option>
                            <option>21 karat</option>
                            <option>22 karat</option>
                            <option>24 karat</option>
                        </select>
                        {{!--
                        <div class="dropdown-select-content">
                            <button class="dropdown-classification" type="button">10 karat</button>
                            ...
                        </div>
                        --}}
                    </div>

                    {{! Weight }}
                    <div>
                        <button class="dropdown-button" type="button">Weight</button>
                        <div class="dropdown-content" data-attribute="weight">
                            <label for="weight-min">Weight Range</label>
                            <div class="range-wrapper">
                                <div class="gram-wrapper">
                                    <input
                                        type="text"
                                        class="input-field"
                                        id="weight-min"
                                        size="2"
                                        value="0"
                                    />
                                </div>
                                <span>to</span>
                                <div class="gram-wrapper">
                                    <input
                                        type="text"
                                        class="input-field"
                                        id="weight-max"
                                        size="2"
                                    />
                                </div>
                            </div>
                            <span>GRAMS</span>
                        </div>
                    </div>

                    {{! Size }}
                    <div>
                        <button class="dropdown-button" type="button">Size</button>
                        <div class="dropdown-content" data-attribute="size">
                            <label for="size-min">Size Range</label>
                            <div class="range-wrapper">
                                <input
                                    type="text"
                                    class="input-field"
                                    id="size-min"
                                    size="2"
                                    value="0"
                                />
                                <span>to</span>
                                <input type="text" class="input-field" id="size-max" size="2" />
                            </div>
                            <select>
                                <option selected>cm</option>
                                <option>inches</option>
                            </select>
                        </div>
                    </div>

                    {{! Selling Price }}
                    <div>
                        <button class="dropdown-button" type="button">Selling Price</button>
                        <div class="dropdown-content" data-attribute="sellingPrice">
                            <label for="selling-price-min">Selling Price Range</label>
                            <div class="range-wrapper">
                                <input
                                    type="text"
                                    class="input-field"
                                    id="selling-price-min"
                                    size="3"
                                    value="0"
                                />
                                <span>to</span>
                                <input
                                    type="text"
                                    class="input-field"
                                    id="selling-price-max"
                                    size="3"
                                />
                            </div>
                        </div>
                    </div>

                    {{! Apply Button }}
                    <button type="button" class="table-filter" id="table-filter-apply">
                        Apply
                    </button>
                    <button type="button" class="table-filter" id="table-filter-clear">
                        Clear
                    </button>
                </div>
                <div class="main-action">
                    <button class="restock-popup_open">Restock Item</button>

                    <button class="sell-popup_open">Sell Item</button>
                    <div>
                        <button class="add-popup_open">Add Item</button>
                        <button class="export">+</button>
                    </div>
                </div>
            </div>
        </section>

        {{>restockPopup}} {{>sellPopup}} {{>addPopup}}
    </section>

    <section id="main-body">
        {{!place code for the w2ui table here }}
        <div id="item-grid" class="w2ui-grid-custom"></div>
    </section>
</main>

<img draggable="false" id="w2ui-enlarged-image" src="/img/product-images/default.png" />
