{{!--
<header>
    <nav>
        {{!
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        }}
        <div id="main-logo">
            <img src="/img/Titafinds/icon.png" id="icon-logo" />
        </div>
    </nav>
</header>
--}}

<main>
    <section>
        <section id="main-control">
            <h1>Inventory List</h1>

            <div id="table-actions-wrapper">
                <div id="table-filters-wrapper">
                    {{! Search }}
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input
                        class="input-field"
                        type="text"
                        placeholder="Search"
                        id="filter-search"
                    />

                    {{! Type }}
                    <div class="dropdown-select-wrapper">
                        <select disabled>
                            <option id="dropdown-type-select" disabled selected value>Type</option>
                        </select>
                        <div class="dropdown-select-content">
                            <button class="dropdown-type" type="button">Chain</button>
                            <button class="dropdown-type" type="button">Bracelet</button>
                            <button class="dropdown-type" type="button">Earrings</button>
                            <button class="dropdown-type" type="button">Necklace</button>
                            <button class="dropdown-type" type="button">Pendant</button>
                            <button class="dropdown-type" type="button">Ring</button>
                            <button class="dropdown-type" type="button">Set</button>
                            <button class="dropdown-type" type="button">Watch</button>
                        </div>
                    </div>

                    {{!
                    <select>
                        <option disabled selected value>Type</option>
                        <option>Chain</option>
                        <option>Braceclet</option>
                        <option>Earrings</option>
                        <option>Necklace</option>
                        <option>Pendant</option>
                        <option>Ring</option>
                        <option>Set</option>
                        <option>Watch</option>
                    </select>
                    }} {{! Classification }}
                    <div class="dropdown-select-wrapper">
                        <select disabled>
                            <option id="dropdown-classification-select" disabled selected value>Classification</option>
                        </select>
                        <div class="dropdown-select-content">
                            <button class="dropdown-classification" type="button">10 karat</button>
                            <button class="dropdown-classification" type="button">14 karat</button>
                            <button class="dropdown-classification" type="button">18 karat</button>
                            <button class="dropdown-classification" type="button">21 karat</button>
                            <button class="dropdown-classification" type="button">22 karat</button>
                            <button class="dropdown-classification" type="button">24 karat</button>
                        </div>
                    </div>

                    {{!
                    <select>
                        <option disabled selected value>Classification</option>
                        <option>10 karat</option>
                        <option>14 karat</option>
                        <option>18 karat</option>
                    </select>
                    }} {{! Status }}
                    <div class="dropdown-select-wrapper">
                        <select disabled>
                            <option id="dropdown-status-select" disabled selected value>Status</option>
                        </select>
                        <div class="dropdown-select-content">
                            <button class="dropdown-status" type="button">Available</button>
                            <button class="dropdown-status" type="button">Damaged</button>
                            <button class="dropdown-status" type="button">Sold Out</button>
                        </div>
                    </div>

                    {{!
                    <select>
                        <option disabled selected value>Status</option>
                    </select>
                    }} {{! Weight }}
                    <div class="dropdown-btn">
                        <select disabled>
                            <option id="dropdown-weight" disabled selected value>Weight</option>
                        </select>
                        <div class="dropdown-content">
                            <span>WEIGHT RANGE</span>
                            <div class="range-wrapper">
                                <div class="gram-wrapper">
                                    <input type="text" class="input-field-1" size="2" />
                                    <span>GRAMS</span>
                                </div>
                                <span>to</span>
                                <div class="gram-wrapper">
                                    <input type="text" class="input-field-2" size="2" />
                                    <span>GRAMS</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{! Size }}
                    <div class="dropdown-btn">
                        <select disabled>
                            <option id="dropdown-size" disabled selected value>Size</option>
                        </select>
                        <div class="dropdown-content">
                            <span>SIZE RANGE</span>
                            <div class="range-wrapper">
                                <input type="text" class="input-field" size="2" />
                                <span>to</span>
                                <input type="text" class="input-field" size="2" />
                            </div>
                            <select>
                                <option selected>cm</option>
                                <option>inches</option>
                            </select>
                        </div>
                    </div>

                    {{! Apply Button }}
                    <button type="button" id="table-filter-apply">Apply Filter</button>
                    <button type="button" id="table-filter-clear">Clear Filter</button>
                </div>

                <div id="add">
                    <button class="popup_open">Add Item</button>
                    <button class="export">+</button>
                </div>
            </div>
        </section>

        <section id="popup">
            <button class="popup_close">X</button>
            <h1>Add New Item</h1>

            <form id="form" enctype="multipart/form-data">
                <div id="popup-form-wrapper">
                    <div id="popup-left-wrapper">
                        {{! Product Name / Product Code / Product Image }}
                        <div class="popup-row-wrapper">
                            <div class="item-wrapper">
                                <label for="name">Product Name</label><br />
                                <input type="text" id="name" name="name" /><br />
                            </div>

                            <div class="item-wrapper">
                                <label for="code">Product Code</label><br />
                                <input type="text" id="code" name="code" /><br />
                            </div>
                        </div>

                        {{! Product Description}}
                        <div class="popup-row-wrapper">
                            <div class="item-wrapper">
                                <label for="description">Product Description</label><br />
                                <textarea id="description" name="description"></textarea><br />
                            </div>
                        </div>

                        {{! Type / Classification / Brand }}
                        <div class="popup-row-wrapper">
                            <div class="item-wrapper">
                                <label for="type">Type</label><br />
                                <!-- change in db -->
                                <select id="type" name="type">
                                    <option value="" disabled selected>Select</option>
                                    <option value="Bracelet">Bracelet</option>
                                    <option value="Chain">Chain</option>
                                    <option value="Earrings">Earrings</option>
                                    <option value="Necklace">Necklace</option>
                                    <option value="Pendant">Pendant</option>
                                    <option value="Ring">Ring</option>
                                    <option value="Watch">Watch</option>
                                </select>
                                <br />
                            </div>

                            <div class="item-wrapper">
                                <label for="classification">Classification</label><br />
                                <select id="classification" name="classification">
                                    <option value="" disabled selected>Select</option>
                                    <option value="10 karat">10 karat</option>
                                    <option value="14 karat">14 karat</option>
                                    <option value="18 karat">18 karat</option>
                                    <option value="21 karat">21 karat</option>
                                    <option value="22 karat">22 karat</option>
                                    <option value="24 karat">24 karat</option>
                                </select>
                                <br />
                            </div>

                            <div class="item-wrapper">
                                <label for="brand">Brand</label><br />
                                <select id="brand" name="brand">
                                    <option value="" disabled selected>Select</option>
                                    <option value="Branded">Branded</option>
                                    <option value="Unbranded">Unbranded</option>
                                </select>
                                <br />
                            </div>
                        </div>

                        {{! Design / Selling Type / Item Status }}
                        <div class="popup-row-wrapper">
                            <div class="item-wrapper">
                                <label for="design">Design</label><br />
                                <select id="design" name="design">
                                    <option value="" disabled selected>Select</option>
                                    <option value="Regular">Regular</option>
                                    <option value="Special">Special</option>
                                    <option value="Very Special">Very Special</option>
                                    <option value="Very Very Special">Very Very Special</option>
                                    <option value="Very Very Very Special">
                                        Very Very Very Special
                                    </option>
                                </select>
                            </div>

                            <div class="item-wrapper">
                                <label for="selling-type">Selling Type</label><br />
                                <select id="selling-type" name="sellingType">
                                    <option value="" disabled selected>Select</option>
                                    <option value="per design">per design</option>
                                    <option value="per gram">per gram</option>
                                </select>
                                <br />
                            </div>

                            <div class="item-wrapper">
                                <label for="status">Item Status</label><br />
                                <select id="status" name="status">
                                    <!-- change in db -->
                                    <option value="Available">Available</option>
                                    <option value="Damaged">Damaged</option>
                                    <option value="Sold Out">Sold Out</option>
                                </select>
                                <br />
                            </div>
                        </div>

                        {{! Length / Size }}
                        <div class="popup-row-wrapper">
                            <div class="item-wrapper">
                                <label for="prod-length">Length</label><br />
                                <div class="item-wrapper-wrapper">
                                    <input
                                        type="text"
                                        id="prod-length"
                                        name="length"
                                    /><!-- add to db -->
                                    <select id="prodLength" name="length-unit">
                                        <!-- change in db -->
                                        <option value="cm">cm</option>
                                        <option value="mm">mm</option>
                                        <option value="inch">inch</option>
                                    </select>
                                </div>
                            </div>

                            <div class="item-wrapper">
                                <label for="size">Size</label><br />
                                <div class="item-wrapper-wrapper">
                                    <input type="text" id="size" name="size" />
                                    <select id="prodSize" name="size-unit">
                                        <!-- change in db -->
                                        <option value="cm">cm</option>
                                        <option value="mm">mm</option>
                                        <option value="inch">inch</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        {{! Weight / Stock Qty / Selling Price / Purchase Price }}
                        <div class="popup-row-wrapper">
                            <div class="item-wrapper">
                                <label for="weight">Weight</label><br />
                                <input type="text" id="weight" name="weight" /><br />
                                <span>GRAMS</span>
                            </div>

                            <div class="item-wrapper">
                                <label for="stock-subtract">Stock Quantity</label><br />
                                <div class="qty-wrapper-wrapper">
                                    <button type="button" id="stock-subtract">-</button>
                                    <input type="text" id="quantity" name="quantity" /><br />
                                    <button type="button" id="stock-add">+</button>
                                </div>
                            </div>

                            <div class="item-wrapper">
                                <label for="selling-price">Selling Price</label><br />
                                <input type="text" id="selling-price" name="sellingPrice" /><br />
                            </div>

                            <div class="item-wrapper">
                                <label for="purchase-price">Purchase Price</label><br />
                                <input type="text" id="purchase-price" name="purchasePrice" /><br />
                            </div>
                        </div>
                    </div>

                    <div id="popup-right-wrapper">
                        <img id="image-preview" src="/img/test.png" />
                        <label for="image">Product Image</label>
                        <label for="image" class="button-secondary">
                            Upload image
                            <input
                                type="file"
                                id="image"
                                accept=""
                                accept=".png, .jpg, .jpeg"
                                name="image"
                            />
                        </label>
                        <p class="text-error"></p>
                    </div>
                </div>

                <div class="command">
                    <button type="sumbit" id="create">Add</button>
                    <button type="reset">Cancel</button>
                </div>
            </form>
        </section>
    </section>

    <section id="main-body">
        {{!place code for the w2ui table here }}
        <div id="itemGrid"></div>
    </section>
</main>

<img id="w2ui-enlarged-image" src="img/test.png" />
