<header>
    <nav>
        {{! <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul> }}
        <div id="main-logo">
            <img src="/img/Titafinds/icon.png" id="icon-logo" />
        </div>
    </nav>
</header>

<main>
    <section>
        <div id="top-wrapper">
            <div id="left-wrapper">

                {{!-- Image and Name --}}
                <h2>{{item_name}}</h2>
                

            </div>

            <div id="right-wrapper">

                {{!-- Attributes / Descriptions --}}
                {{#each description}}
                    <div class="item-desc-wrapper">
                        <div class="field">

                        </div>

                        <div class="desc">

                        </div>

                    </div>

                {{/each}}
            </div>
        </div>
    </section>

    <section>

    </section>
</main>