{{>sidebar}}
<main class="main-section">
    <div id="item-page-wrapper">
        <div id="top-wrapper">
            <div id="left-wrapper">
                {{!-- Image and Name --}}
                <h2>Item Name</h2>
                <img src="/img/test.png" />
            </div>

            <div id="right-wrapper">
                <span>Fields</span>
                {{!-- Attributes / Descriptions --}}
                <div id="fields-table"></div>
            </div>
        </div>

        {{!-- Transaction --}}
        <div id="bottom-wrapper">Transactions</div>
    </div>
</main>
