<main>
    <div id="main-logo">
        <img draggable="false" src="/img/logos/icon.png" id="icon-logo" />
    </div>
    <h1 id="text-title">TitaFindsPH</h1>
    <h2 id="text-subtitle">Log in to get going.</h2>
    <form id="login-form" class="def-container">
        <p class="text-error">{{error}}</p>
        <div>
            <label for="username">Username</label>
            <input
                type="text"
                id="username"
                name="username"
                placeholder="Username"
                autocomplete="username"
            />
        </div>
        <div>
            <label for="password">Password</label>
            <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                autocomplete="current-password"
            />
        </div>
        <button id="login" class="button-primary">Log in</button>
    </form>

    <div id="login-footer">
        {{! <a href="/about" class="login-footer-link">About</a> }} {{!--
        <a href="/forgotpassword" class="login-footer-link">Forgot password</a> --}}
    </div>
</main>
