<html>
    <head>

    </head>
    <body>
        <button>Add Item</button>
        
        <center><h3>Add New Item</h3></center>
        
        <form>
            <label>Product Name</label><br>
            <input type="text" id="productName"><br>

            <label>Product Image</label><br>
            <input type="file" id="productImage"><br>       <!-- add to db --> 

            <label>Type</label><br>                         <!-- change in db --> 
            <select id = "productType">
                <option value = "" disabled selected>Select</option>
                <option value = "Anklet">Anklet</option>
                <option value = "Bracelet">Bracelet</option>
                <option value = "Watch">Watch</option>
            </select> <br>

            <label>Classification</label><br>
            <select id = "prodClassification">
                <option value = "" disabled selected>Select</option>
                <option value = "Gold">Gold</option>
                <option value = "Silver">Silver</option>
                <option value = "Bronze">Bronze</option>
            </select> <br>

            <label>Brand</label><br>
            <select id = "productBrand">
                <option value = "" disabled selected>Select</option>
                <option value = "Cartier">Cartier</option>
                <option value = "Swarovski">Swarovski</option>
                <option value = "Tiffany">Tiffany</option>
            </select> <br>
     
            <label>Design</label><br>
            <select id = "prodDesign">
                <option value = "" disabled selected>Select</option>
                <option value = "Simple">Simple</option>
                <option value = "Complex">Complex</option>
                <option value = "Intricate">Intricate</option>
            </select> <br>

            <label>Selling Type</label><br>
            <select id = "sellingtype">
                <option value = "" disabled selected>Select</option>
                <option value = "VIP">VIP</option>
                <option value = "Expensive">Expensive</option>
                <option value = "Special">Special</option>
            </select> <br>

            <label>Item Status</label><br>
            <select id = "itemStatus">                              <!-- change in db -->
                <option value = "" disabled selected>Select</option>
                <option value = "Sold Out">Sold Out</option>
                <option value = "Available">Available</option>
                <option value = "Low Stock">Low Stock</option>
            </select> <br>

            <label>Length</label><br>                               <!-- add to db --> 
            <input type="text" id="prodLength"><br>
            <select id = "prodLength">                              <!-- change in db -->
                <option value = "cm">cm</option>
                <option value = "inch">inch</option>
                <option value = "feet">feet</option>
            </select> <br>

            <label>Size</label><br>
            <input type="text" id="prodSize"><br>
            <select id = "prodSize">                              <!-- change in db -->
                <option value = "cm">cm</option>
                <option value = "inch">inch</option>
                <option value = "feet">feet</option>
            </select> <br>

            <label>Weight</label><br>
            <input type="text" id="prodWeight"><br>

            <label>Stock Quantity</label><br>
            <input type="text" id="prodQuantity"><br>

            <label>Selling Price</label><br>
            <input type="text" id="sellingPrice"><br>

            <label>Purchase Price</label><br>
            <input type="text" id="purchasePrice"><br>
        </form>

        <button type="sumbit">Create Item</button>
        <button type="reset">Discard</button>

    </body>
</html>

