<html>
    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>temp index</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/item.js"></script>
  </head>
    <section>
      <form id="itemForm">
        <label>ID</label><br>
        <input type="text" id="prodID"><br>
        <label>Name</label><br>
        <input type="text" id="productName"><br>
        <label>type</label><br>
        <input type="text" id="productType"><br>
        <label>brand</label><br>
        <input type="text" id="productBrand"><br>  
        <label>prodClassification</label><br>
        <input type="text" id="prodClassification"><br>
        <label>prodDesign</label><br>
        <input type="text" id="prodDesign"><br>
        <label>prodSize</label><br>
        <input type="text" id="prodSize"><br>
        <label>prodWeight</label><br>
        <input type="text" id="prodWeight"><br>
        <label>prodQuantity</label><br>
        <input type="text" id="prodQuantity"><br>
        <label>selling type</label><br>
        <input type="text" id="sellingtype"><br>
        <label>purchase price</label><br>
        <input type="text" id="purchasePrice"><br>
        <label>sellingPrice</label><br>
        <input type="text" id="sellingPrice"><br>
        <label>prodStatus</label><br>
        <input type="text" id="prodStatus"><br>
        <label>product code</label><br>
        <input type="text" id="productCode"><br>
        <label>is admin</label><br>
        <input type="text" id="isAdmin"><br>
      </form>
      <button name="submit" id="submit">submit</button>
    </section>
</html>