{{>sidebar}}
<main class="main-section">
    <section>
        <section id="main-control">
            <h1>Transaction List</h1>

            <div id="table-actions-wrapper">
                <div id="table-filters-wrapper">
                    {{! Search }}
                    <div>
                        <label for="filter-search"><i class="bx bx-search"></i></label>
                        <input
                            class="input-field"
                            type="text"
                            placeholder="Search"
                            id="filter-search"
                        />
                    </div>

                    {{! Type }}
                    <div class="dropdown-select-wrapper">
                        <select id="filter-type">
                            <option disabled selected hidden>Type</option>
                            <option>Restock</option>
                            <option>Added</option>
                            <option>Sell</option>
                            <option>All</option>
                        </select>
                        {{!--
                        <div class="dropdown-select-content">
                            <button class="dropdown-type" type="button">Restock</button>
                            <button class="dropdown-type" type="button">Added</button>
                            <button class="dropdown-type" type="button">Sell</button>
                            <button class="dropdown-type" type="button">Any</button>
                        </div>
                        --}}
                    </div>

                    {{! Apply Button }}
                    <button type="button" class="table-filter" id="table-filter-apply">
                        Apply Filter
                    </button>
                    <button type="button" class="table-filter" id="table-filter-clear">
                        Clear Filter
                    </button>
                </div>
                <p id="table-last-refresh-text"></p>
                <button type="button" class="table-filter" id="table-filter-refresh">
                    <i class="bx bx-refresh"></i>
                </button>
            </div>
        </section>
    </section>

    <section id="main-body">
        <div id="transaction-grid" class="w2ui-grid-custom"></div>
    </section>
</main>
