@font-face {
    font-family: "Omnes";
    src:   /* IE6-IE8 */ url("font/Omnes.eot") format("embedded-opentype"),
        url("font/Omnes.woff") format("woff"),
        /* Modern Browsers */ url("font/Omnes.woff2") format("woff2"),
        /* Safari, Android, iOS */ url("font/Omnes.ttf") format("truetype");
}

@font-face {
    font-family: "Omnes Medium";
    src: url("font/Omnes Medium.otf") format("opentype");
}

@font-face {
    font-family: "Inter Regular";
    src: url("font/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Thin";
    src: url("font/Inter-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Medium";
    src: url("font/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Bold";
    src: url("font/Inter-Bold.ttf") format("truetype");
}

:root {
    /* Old Color Palette */
    --clr-white: white;
    --clr-red: hsl(354, 71%, 54%);
    --clr-red-500: hsl(354, 60%, 45%);
    --clr-blue: hsl(205, 99%, 62%);
    --clr-blue-500: hsl(205, 62%, 52%);
    --clr-gold: hsl(50, 100%, 40%);
    --clr-gold-500: hsl(50, 100%, 30%);
    --clr-gray: hsl(210, 15%, 74%);
    --clr-gray-100: hsl(0, 0%, 90%);
    --clr-gray-500: hsl(210, 13%, 65%);
    --clr-gray-600: hsl(203, 10%, 60%);

    /* Color Palette */
    /* GOLD */
    --clr-gold-darker: #635200;
    --clr-gold-dark: #927900;
    --clr-gold-100: #ceaa00;
    --clr-gold-70: #ddc44d;
    --clr-gold-50: #e6d480;
    /* ORANGE */
    --clr-orange-dark: #893708;
    --clr-orange-100: #c14d0b;
    --clr-orange-80: #cd713c;
    --clr-orange-60: #da946d;
    /* PINK */
    --clr-pink-dark: #af8b7c;
    --clr-pink-100: #f6c4af;
    --clr-pink-70: #f8d0bf;
    --clr-pink-50: #fae1d7;
    --clr-pink-30: #fcede7;
    /* BURGUNDY */
    --clr-burgundy-dark: #260504;
    --clr-burgundy-100: #350705;
    --clr-burgundy-80: #5d3937;
    --clr-burgundy-60: #866a69;
    /* GREYSCALE */
    --clr-black-100: #000000;
    --clr-black-80: #484848;
    --clr-black-75: #9a9a9a;
    --clr-black-50: #c0c0c0;
    --clr-black-25: #e0e0e0;
    --clr-offwhite: #faf9f6;
    --clr-white: #ffffff;

    --clr-bg: var(--clr-offwhite);
    --clr-bg-500: hsl(216, 90%, 92%);

    --clr-table-bg: var(--clr-burgundy-80);
    --clr-table-color: #f5f5f5;
    --clr-table-column-line: var(--clr-burgundy-100);

    --clr-btn-primary: var(--clr-gold);
    --clr-box-shadow-primary: rgb(225 211 205 / 70%);
    --clr-box-shadow-primary-active: rgb(225 211 205 / 90%);
    --clr-box-shadow-secondary: rgb(225 211 205 / 50%);

    --clr-select-color: var(--clr-black-100);

    --clr-txt-primary: var(--clr-burgundy-dark);
    --clr-txt-secondary: #a64c1ce3;
    --clr-txt-secondary-2: hsl(22, 89%, 40%);

    /* Extra colors */
    --clr-tag-orange: hsl(38, 98%, 69%);
    --clr-tag-green: hsl(157, 64%, 71%);
    --clr-tag-purple: hsl(255, 89%, 75%);
    --clr-tag-red: hsl(359, 85%, 71%);
    --clr-tag-blue: hsl(184, 65%, 69%);
    --clr-tag-pink: hsl(322, 82%, 70%);
    --clr-tag-gray: hsl(195, 34%, 77%);
    --clr-tag-brown: hsl(60, 20%, 73%);

    --font-type: "Inter Regular", Poppins, "Segoe UI", Tahoma, Geneva, Verdana,
        sans-serif;
    --font-type2: "Omnes Medium", var(--font-type);

    /* Transition types */
    --slow: all 0.3s ease;
    --fast: all 0.2s ease;
}

/* common transition */
form,
button,
input,
textarea,
select,
.button-primary,
.button-secondary {
    transition: var(--fast);
}

/* common styling */
html {
    scroll-behavior: smooth;
    /* scroll-padding-top: 0px; */
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--clr-burgundy-60);
    transition: var(--fast);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--clr-burgundy-80);
}

body {
    display: grid;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: var(--font-type);
    background-color: var(--clr-bg);
    min-height: 100vh;
}

h1 {
    font-family: "Inter Bold";
    color: var(--clr-txt-primary);
    font-size: 2em;
}

a,
a:visited {
    text-decoration: none;
    color: var(--clr-txt-secondary);
}

label {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--clr-txt-secondary);
    font-weight: bold;
    font-size: 12px;
}

select {
    font-family: var(--font-type);
    color: var(--clr-select-color);
    border: 1px solid var(--clr-gray);
    border-radius: 5px;
    padding: 5px;
}

textarea {
    resize: none;
}

input,
textarea {
    font-family: var(--font-type);
}

input::placeholder {
    font-family: var(--font-type);
}

input[type="file"] {
    display: none;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"] {
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--clr-gray);
    font-size: 14px;
    /* background-color: var(--clr-bg); */
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus-visible {
    /* need to finalize */
    border-color: var(--clr-txt-secondary);
    box-shadow: none;
    outline: none;
}

button {
    border-radius: 8px;
    border-color: transparent;
    color: white;
    background: var(--clr-burgundy-80);
    font-family: var(--font-type);
    /* padding: 5px 10px; */
}

button:hover {
    background: var(--clr-burgundy-60);
}

button:active {
    background: var(--clr-burgundy-100);
}

button[type="reset"] {
    color: #555;
    background-color: #efefef;
}

button[type="reset"]:hover {
    background-color: #e8e8e8;
}

button[type="reset"]:active {
    background-color: #d7d7d7;
}

button:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgb(116 136 150 / 29%);
}

button:disabled {
    background-color: var(--clr-gray-600);
    pointer-events: none;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 3rem;
}

#main-body {
    height: 80%;
}

#text-title {
    font-weight: bold;
    font-size: 30px;
    font-family: var(--font-type2);
    color: var(--clr-txt-primary);
    margin: 5px 0 0;
}

#text-subtitle {
    font-weight: bold;
    font-size: 16px;
    color: var(--clr-txt-secondary);
    margin-bottom: 25px;
}

.text-clickable {
    transition: var(--fast);
    cursor: pointer;
}

.text-clickable:hover,
.text-active {
    color: var(--clr-blue) !important;
}

.text-clickable:active {
    color: var(--clr-blue-500) !important;
}

.text-error {
    opacity: 0;
    visibility: hidden;
    color: var(--clr-tag-red);
    font-weight: bold;
    transition: var(--fast);
    margin: 0;
    text-align: center;
}

.text-success {
    opacity: 0;
    visibility: hidden;
    color: var(--clr-tag-green);
    font-weight: bold;
    transition: var(--fast);
    margin: 0;
    text-align: center;
}

.text-error.active,
.text-success.active {
    opacity: 1;
    visibility: visible;
}

select.error,
input.error,
textarea.error,
.button-secondary.error {
    border-color: var(--clr-tag-red) !important;
}

#scaffold {
    display: grid;
    justify-items: center;
    min-height: 1px;
    max-width: 800px;
    width: 65vw;
    gap: 15px;
}

#scaffold img {
    max-width: 275px;
}

.def-container {
    display: flex;
    border-radius: 5px;
    box-shadow: 0 2px 10px var(--clr-box-shadow-primary);
    background-color: var(--clr-white);
}

.button-primary {
    border: none;
    border-radius: 5px;
    background-color: var(--clr-btn-primary);
    font-family: var(--font-type2);
    font-size: 14px;
    color: var(--clr-white);
    padding: 10px;
    box-shadow: 0 2px 10px var(--clr-box-shadow-primary);
    cursor: pointer;
    text-align: center;
}

.button-primary.red {
    background-color: var(--clr-red);
}

.button-primary:hover {
    box-shadow: 0 2px 10px var(--clr-box-shadow-primary-hover);
}

.button-primary.red:hover {
    box-shadow: 0 2px 10px rgb(221, 54, 71, 0.7);
}

.button-primary:active {
    background-color: var(--clr-gold-500);
}

.button-primary.red:active {
    background-color: var(--clr-red-500);
}

.button-secondary {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    font-family: var(--font-type);
    border: 1px solid var(--clr-gray);
    border-radius: 5px;
    background-color: var(--clr-white);
    color: var(--clr-txt-secondary);
    cursor: pointer;
    text-align: center;
    letter-spacing: normal;
    padding: 5px;
}

.button-secondary:hover {
    box-shadow: 0 2px 10px rgb(230, 230, 230, 0.5);
}

.button-secondary:active {
    background-color: var(--clr-bg);
}

.hide {
    display: none !important;
    transition: var(--fast);
}

.w2ui-grid-custom {
    height: 100%;
}

.main-action {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    gap: 20px;
}

.main-action button {
    border-radius: 8px;
    border-color: transparent;
    color: var(--clr-burgundy-100);
    font-family: "Inter Bold";
    background: var(--clr-gold-70);
}

.main-action button:hover {
    background: var(--clr-gold-50);
}

.main-action button:active {
    background: var(--clr-gold-100);
}

/* Override swal button confirm */
.swal-button--confirm:not(.swal-button--danger) {
    background-color: var(--clr-burgundy-80);
}
.swal-button--confirm:not(.swal-button--danger):hover {
    background-color: var(--clr-burgundy-60);
}
.swal-button--confirm:not(.swal-button--danger):active {
    background-color: var(--clr-burgundy-100);
}
