.popup_content {
  margin: 5%;
  padding: 2%;
  border: 2px solid #444;
  background: white;
}

.itemFirst{
  float: left;
  clear: left;
  margin: 10px;
}

.item{
  float: left;
  margin: 10px;
}

#popup {
  border-radius: 8px;
  border-color: transparent;
  font-family: 'Inter Bold';
  color: black;
}

#popup h1 { color: black;}

#popup button{
  border-radius: 8px;
  border-color: transparent;
  color: white;
  background: #716f6f;
  margin: 10px;
}

#add {
  margin: 10px;
}

#add button{
  border-radius: 8px;
  border-color: transparent;
  color: #4b4b4b;
  font-family: 'Inter Bold';
  background: #d9d9d9;
  margin: 0;
}

button:hover{
  cursor: pointer;
}

.popup_close{
  border-radius: 50%;
  float: right;
}

.command{
  clear: left;
  display: flex;
  justify-content: center;
}