
/*  */
.w2ui-grid .w2ui-grid-body .w2ui-grid-columns, .w2ui-grid .w2ui-grid-body .w2ui-grid-fcolumns {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: none;
    height: auto;
}

.w2ui-grid .w2ui-grid-body table .w2ui-head {
    margin: 0;
    padding: 0;
    border-right: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    color: #000;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
}
.w2ui-grid-data{
    /*This is for the css of the data of each column(Ex: Weight: 5kg [so it modifies the box containing the 5kg])*/
}
.w2ui-col-header{
    /*This is for the css div of the column names itself and modifies the design of it (Ex: Classification)*/
}
#grid_itemGrid_toolbar .w2ui-grid-toolbar .w2ui-reset .w2ui-toolbar{
    /*This is for the css of the toolbar with the search button and reload button*/
}
#grid_itemGrid_footer .w2ui-grid-footer{
    /*This is for the css of the footer of the grid (The most bottom part of the grid)*/
}
.w2ui-col-number{
    /*This is for the css of the column number of the grid or the number that tells you what item it is*/
}
#grid_itemGrid_search_all .w2ui-search-all .w2field .w2ui-input{
    /*This is for the css of the search bar in the grid*/
}
#tb_itemGrid_toolbar_right{
    /*This is for the css of the empty space beside the search bar(deleting this would shift the items on the left to the right)*/
}
.w2ui-sort-down{
    /*Modifies the sort button (arrow) of the columns*/
}


