main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 3rem;
}

.goback-text,
.icon-return {
    transition: var(--slow);
}

#goback-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5px;
    color: var(--clr-txt-secondary);
}

.goback-text:hover,
.goback-text:hover + .icon-return {
    color: var(--clr-gold-100);
    cursor: pointer;
}

.goback-text:active,
.goback-text:active + .icon-return {
    color: var(--clr-gold-dark);
}

#icon-404 {
    width: 200px;
}
