.main-section {
    align-items: center;
}

#change-password-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
}

#password-form {
    position: relative;
    width: 30vw;
    min-width: 200px;
    max-width: 300px;
}

#password-form .text-error {
    position: absolute;
    bottom: -35px;
    text-align: left;
}

#change-password {
    font-family: "Inter Medium";
}
