main {
    --padding-t: 1rem;
    --padding-rbl: 2rem;
    display: block;
    padding: var(--padding-t) var(--padding-rbl) var(--padding-rbl);
    height: calc(100% - (var(--padding-t) + var(--padding-rbl)));
}

#table-actions-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter Regular";
    font-size: 16px;
}

#table-filters-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

#table-filters-wrapper > div:first-child {
    display: flex;
    gap: 3px;
    align-items: center;
}

#table-filters-wrapper label[for="filter-search"] {
    position: relative;
    top: 2px;
    font-size: 18px;
    cursor: pointer;
    text-transform: none;
    letter-spacing: 0;
    color: var(--clr-burgundy-dark);
}

#table-filters-wrapper input {
    height: 29px;
    padding: 10px 5px;
}

#filter-search {
    width: 13vw;
    max-width: 250px;
    min-width: 70px;
}

#filter-type {
    width: 8vw !important;
    max-width: 180px;
    min-width: 75px;
}

#filter-classification {
    width: 8vw !important;
    max-width: 180px;
    min-width: 120px;
}

#table-filter-refresh {
    font-size: 18px;
}

/* 
-- Old Dropdown Select

.dropdown-select-wrapper {
    display: inline-block;
}

.dropdown-select-wrapper:hover .dropdown-select-content {
    display: flex;
    flex-direction: column;
}

.dropdown-select-content {
    width: 100px;

    display: none;
    background-color: var(--clr-pink-30);
    border-radius: 5px;

    position: absolute;
    z-index: 1;

    -webkit-box-shadow: 0px 6px 10px -5px rgb(0 0 0 / 40%);
    -moz-box-shadow: 0px 6px 10px -5px rgb(0 0 0 / 40%);
    box-shadow: 0px 6px 10px -5px rgb(0 0 0 / 40%);

    overflow: hidden;
}

.dropdown-select-content button {
    background-color: var(--clr-pink-30);
    color: var(--clr-burgundy-60);
    border: none;
    width: 100%;
    font-family: "Inter Medium";
    text-decoration: none;
    text-align: left;
    padding: 3px 0px 3px 12px;
    border-radius: 0;
}

.dropdown-select-content button:hover {
    background-color: var(--clr-pink-70);
}
*/

.dropdown-button {
    border-radius: 5px;
    background-color: field;
    color: var(--clr-select-color);
    border: 1px solid var(--clr-gray);
    padding: 5px;
}

.dropdown-button:hover {
    background-color: var(--clr-black-25);
}

.dropdown-button:active {
    background-color: var(--clr-black-50);
}

.dropdown-button:focus {
    border-color: var(--clr-txt-secondary);
    box-shadow: none;
}

.dropdown-content {
    display: none;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    position: absolute;

    flex-direction: column;
    z-index: 10002;
    gap: 5px;

    -webkit-box-shadow: 0px 6px 10px -5px rgb(0 0 0 / 40%);
    -moz-box-shadow: 0px 6px 10px -5px rgb(0 0 0 / 40%);
    box-shadow: 0px 6px 10px -5px rgb(0 0 0 / 40%);
}

.dropdown-content > * {
    width: 100% !important;
}

.dropdown-content label {
    font-family: "Inter Medium";
    color: black;
}

.dropdown-content span {
    font-family: "Inter Bold";
    font-size: 10px;
    color: var(--clr-black-75);
}

.dropdown-content select {
    flex-grow: 0 !important;
    padding: 1px !important;
}

.dropdown-content.show {
    display: flex;
}

.range-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.range-wrapper input {
    height: 15px !important;
    flex-grow: 0 !important;
}

.gram-wrapper {
    display: flex;
    flex-direction: column;
}

.gram-wrapper span {
    font-size: 6;
}

/* HOVER FOR IMAGE IN W2UI */
#w2ui-image {
    height: 100px;
    border-radius: 5px;
}

#w2ui-enlarged-image {
    display: none;
    position: fixed;
    inset: 0;
    margin: auto;
    height: 95%;
    object-fit: contain;
    border: 0.5vh solid black;
    z-index: 99999;
}

/* HOVER FOR PRODUCT NAME IN W2UI */
.item-anchor-link {
    white-space: normal;
    word-wrap: break-word;
    font-weight: bold;
}

.item-anchor-link:hover {
    text-decoration: underline;
}
