#item-page-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

#top-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0px 100px;
}

#left-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-left: 20px;
    margin-right: 40px;
}

#product-img {
    height: 100%;
    width: 400px;
    border-radius: 10px;
}

#item-attributes-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.main-attributes-wrapper {
    font-family: "Inter Regular";
    font-size: 14px;
    margin: 5px 0;
    display: flex;
}

.main-attributes-wrapper span {
    font-family: "Inter Bold";
}

#item-title {
    font-family: "Inter Bold";
    font-size: 45px;
    margin: 0;

    color: #5d3937;
}

#item-code {
    font-family: "Inter Bold";
    font-size: 30px;
    margin: 0;

    color: #866a69;
}

#description-wrapper {
    margin-top: 10px;
}

#description-wrapper span {
    color: #866a69;
    font-family: "Inter Bold";
    font-size: 14px;
    margin: 0;
}

#description-wrapper p {
    color: #350705;
    font-family: "Inter Medium";
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}

#right-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item-desc-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#attributes-table {
    border: 1px solid #866a69;
    border-radius: 10px;
    font-family: "Inter Medium";
    overflow: hidden;
    color: #350705;
}

#attributes-table thead {
    background-color: #fae1d7;
    overflow: hidden;
    margin: 10px;
    height: 25px;

    font-family: "Inter Bold";
    font-size: 15px;
}

#attributes-table tbody {
    font-size: 14px;
}

#attributes-table td {
    padding: 5px 0px 5px 10px;
}

#attributes-table td:nth-child(2) {
    border-left: 1px solid #866a69;
    border-bottom: 1px solid #dedede;
}

#bottom-wrapper {
    height: 370px;
}

.dropbtn {
    background-color: #d9d9d9;
    border-radius: 8px;
    margin: 0;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #f6c4af;
}

/* The container <div> - needed to position the dropdown content */
.edit-dropdown {
    position: absolute;
    left: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
    background-color: #ffffff;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: transparent;
    min-width: 140px;
    cursor: pointer;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
    background-color: #f6c4af;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.icons {
    font-size: 1em;
    padding: 8px;
}

.dropbtn {
    background-color: #d9d9d9;
    border-radius: 8px;
    margin: 0;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #f6c4af;
}

/* The container <div> - needed to position the dropdown content */
.edit-dropdown {
    clear: left;
    clear: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
    background-color: #ffffff;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: transparent;
    min-width: 140px;
    cursor: pointer;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
    background-color: #f6c4af;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.icons {
    font-size: 1em;
    padding: 8px;
}
