/* Override jquery-popup-overlay style */
.popup_content {
    padding: 20px;
    border: 2px solid #444;
    background: white;
}

.popup {
    --label-color: #000;
    --text-highlight-color: var(--clr-orange-dark);

    --reset-button-color: var(--clr-gold-100);
    --reset-button-color-hover: var(--clr-gold-70);
    --reset-button-color-active: var(--clr-gold-dark);

    --suspend-button-color: var(--clr-orange-80);
    --suspend-button-color-hover: var(--clr-orange-60);
    --suspend-button-color-active: var(--clr-orange-100);

    --resume-button-color: var(--clr-orange-80);
    --resume-button-color-hover: var(--clr-orange-60);
    --resume-button-color-active: var(--clr-orange-100);

    border-radius: 8px;
    border-color: transparent;
    font-family: "Inter Bold";
    color: black;
}

.popup h1 {
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

.popup label {
    font-family: "Inter Medium";
    text-transform: none;
    font-size: 11px;
    color: black;
    margin-bottom: 4px;
}

.popup input[type="text"] {
    padding: 5px;
}

.popup textarea {
    resize: vertical;
    padding: 5px;
    height: 50px;
    min-height: 50px;
    max-height: 100px;
    width: 100%;
}

#remove-form {
    width: 350px;
}

.restock-sell-remove-common {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 300px;
    gap: 15px;
}

.restock-sell-remove-common .command {
    margin-top: 15px;
}

.restock-sell-remove-common .text-error {
    position: absolute;
    bottom: 29px;
    /* bottom: 38px; */
    left: 0;
    right: 0;
}

.restock-sell-remove-common .item-wrapper {
    margin-right: 0;
}

#popup-form-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.popup-default-wrapper {
    display: flex;
    flex-direction: column;
    width: 450px;
}

#popup-left-wrapper {
    width: 500px;
}

#popup-right-wrapper {
    width: 200px;
    position: relative;
}

.popup-row-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
}
.item-wrapper {
    width: 100%;
    color: black;
    margin-right: 10px;
}

.item-wrapper input {
    height: 30px;
    width: 100%;

    font-family: "Inter Regular";
    font-size: 12px;
    font-weight: normal;

    padding: 5px;
}

.item-wrapper select {
    height: none;
    width: 100%;

    font-family: "Inter Regular";
    font-weight: normal;
    font-size: 12px;

    padding: 5px;
    flex-shrink: 1.5;
}

.item-wrapper span {
    font-family: "Inter Bold";
    font-size: 10px;
    color: var(--clr-black-75);
}

.item-wrapper-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.quantity-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quantity {
    margin: 0 2px;
}

.quantity-wrapper button {
    font-family: "Inter Bold";
    border-radius: 6px !important;
    margin: 0 !important;
}

#image-preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 5px;
    border: 1px solid var(--clr-box-shadow-primary);
}

.remove-image {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--clr-box-shadow-primary);
    border-radius: 5px 0 5px 0;
    padding: 5px;
    cursor: pointer;
    transition: var(--fast);
}

.remove-image:hover {
    background: var(--clr-box-shadow-secondary);
}

.remove-image:active {
    background: var(--clr-box-shadow-primary-active);
}

.popup-label-image {
    margin-top: 5px;
}

button:hover {
    cursor: pointer;
}

.popup-close {
    border-radius: 50%;
    position: absolute;
    right: 25px;
    border-radius: 100% !important;
    width: 25px;
    height: 25px;
}

.popup-close .bx-x {
    margin: -5px -20.5px;
    /* margin: -9px -20.5px;  */
    font-size: 30px;
}

.command {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.command button {
    font-family: "Inter Bold";
}

.confirm-type-form {
    padding: 20px 10px 0;
}

.confirm-type-form .popup-row-wrapper {
    align-items: center;
}

.confirm-type-form .command {
    margin-top: 20px;
}

.confirm-type-text-highlight {
    /*Adjust color of username in reset popup and suspend popup*/
    color: var(--text-highlight-color);
    font-weight: 800;
    font-size: 15px;
}

.confirm-type-symbol {
    color: white;
    background-color: black;
    border-radius: 100%;
    padding: 7px;
    font-size: 45px;
    margin-right: 5px;
}

#certainty-text {
    font-size: 15px;
    width: 270px;
}

#reset-user-button,
#replay-symbol {
    background-color: var(--reset-button-color);
}

#reset-user-button:hover {
    background-color: var(--reset-button-color-hover);
}

#reset-user-button:active {
    background-color: var(--reset-button-color-active);
}

#suspend-user-button,
#block-symbol {
    background-color: var(--suspend-button-color);
}

#suspend-user-button:hover {
    background-color: var(--suspend-button-color-hover);
}

#suspend-user-button:active {
    background-color: var(--suspend-button-color-active);
}

#resume-user-button,
#play-symbol {
    background-color: var(--resume-button-color);
}

#resume-user-button:hover {
    background-color: var(--resume-button-color-hover);
}

#resume-user-button:active {
    background-color: var(--resume-button-color-active);
}

.create-update-form {
    width: 65%;
    inset: 0;
    margin: auto;
    margin-top: 2vh;
}

.create-update-form .item-wrapper {
    margin: 0;
}

.create-update-form .text-error {
    margin-bottom: 1vh;
}

.create-update-input {
    margin-bottom: 2vh;
}

.create-update-label {
    color: var(--label-color);
}

/* Drag and drop */

#drag-drop-text {
    font-family: "Inter Bold";
    font-size: 3rem;
    color: var(--text-burgundy-100);
    position: absolute;
    inset: 0;
    top: 40%;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    display: none;
}
