.popup_content {
    margin: 5%;
    padding: 20px;
    border: 2px solid #444;
    background: white;
}

.itemFirst {
    float: left;
    clear: left;
    margin: 10px;
}

.item {
    float: left;
    margin: 10px;
}

.popup {
    border-radius: 8px;
    border-color: transparent;
    font-family: "Inter Bold";
    color: black;
}

.popup h1 {
    text-align: center;
    color: black;
}

.popup label {
    font-family: "Inter Medium";
    text-transform: none;
    font-size: 11px;
    color: black;
    margin-bottom: 4px;
}

.popup button {
    border-radius: 8px;
    border-color: transparent;
    color: white;
    background: #716f6f;
}

.popup textarea {
    resize: vertical;
    padding: 5px;
    height: 50px;
    min-height: 50px;
    max-height: 100px;
    width: 100%;
}

.restock-sell-common {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 300px;
    height: 100px;
    gap: 15px;
}

.restock-sell-common .text-error {
    position: absolute;
    inset: 0;
    margin-top: 55px;
    height: 0;
}

#add {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
}

#add button {
    border-radius: 8px;
    border-color: transparent;
    color: #4b4b4b;
    font-family: "Inter Bold";
    background: #d9d9d9;
    margin: 0;
}

#popup-form-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#popup-left-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.popup-row-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.item-wrapper {
    width: 100%;
    color: black;
    margin-right: 10px;
}

.item-wrapper input {
    height: 30px;
    width: 100%;

    font-family: "Inter Regular";
    font-size: 12px;
    font-weight: normal;

    padding: 5px;
    flex-grow: 2;
}

.item-wrapper select {
    height: none;
    width: 100%;

    font-family: "Inter Regular";
    font-weight: normal;
    font-size: 12px;

    color: #a8a8a8;
    padding: 5px;
    flex-shrink: 2;
}

.item-wrapper span {
    font-family: "Inter Bold";
    font-size: 10px;
    color: #a8a8a8;
}

.item-wrapper-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    /* justify-content: space-between; */
}

.qty-wrapper-wrapper {
    display: flex;
    flex-direction: row;
    /* gap: 5px; */
    justify-content: space-between;
}

#quantity {
    /* width: 50px; */
    margin: 0 2px;
}

.qty-wrapper-wrapper button {
    font-family: "Inter Bold";
    border-radius: 6px !important;
    margin: 0 !important;
}

#popup-right-wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.popup-label-image {
    margin-top: 5px;
}

button:hover {
    cursor: pointer;
}

.add-popup_close,
.restock-popup_close,
.sell-popup_close {
    border-radius: 50%;
    float: right;
}

.command {
    display: flex;
    justify-content: center;
}

.command button {
    font-family: "Inter Bold";
    background-color: #9e9e9e;
    margin: 0 10px;
}

#add-popup input[type="text"],
#restock-popup input[type="text"],
#sell-popup input[type="text"] {
    padding: 5px;
}

#reset-popup input[type="text"],
#update-popup input[type="text"],
#suspend-popup input[type="text"] {
    padding: 5px;
}

#replay-symbol {
    /*Adjust background-color of background of the replay symbol*/
    color: white;
    background-color: black;
    border-radius: 60%;
    float: left;
    font-size: 50px;
    margin-top: 2vh;
    margin-bottom: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
#block-symbol {
    /*Adjust background-color of background of the block symbol*/
    color: white;
    background-color: black;
    border-radius: 60%;
    float: left;
    font-size: 50px;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

#certainty-popup {
    margin-top: 3vh;
    font-size:15px;
}
#reset-username, #suspend-username{
    /*Adjust color of username in reset popup and suspend popup*/
    color: brown;
    font-size: 15px;
}

#reset-form, #suspend-form, #update-form, #create-form{
    margin-top: 2vh;
}

#reset-user-button{
    /*Adjust color of reset button*/
    background-color:black;
}

#suspend-user-button{
    /*Adjust color of suspend user button*/
    background-color: black;
}

#update-username, #update-first-name, #update-last-name, 
#create-username, #create-first-name, #create-last-name, #create-password, #create-confirm-password
{
    width:50%;
    margin-left: 17vh;
    margin-bottom: 3vh;
}

#username-label, #first-name-label, #last-name-label,
#password-label, #confirm-password-label{
    /*Insert code here for changing the color of the label*/
    margin-left: 17vh;
}

#cancel-update-button, #update-user-button,
#cancel-create-button, #create-user-button{
    /*Adjust button color here*/
    background-color:black;
}