/* Change border settings */
.w2ui-grid {
    border-width: 2px !important;
    border-radius: 10px !important;
}

.w2ui-sort-down {
    border-top-color: var(--clr-gold-50) !important;
}
.w2ui-sort-up {
    border-bottom-color: var(--clr-gold-50) !important;
}

/* Change font properties */
.w2ui-reset table tr td,
.w2ui-reset table tr th {
    font-family: "Inter Regular";
    font-size: 13px;
}

/* Change selected row color */
.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr td.w2ui-selected,
.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-selected,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr td.w2ui-selected,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-selected {
    background-color: var(--clr-pink-30) !important;
}
/* Removes the gradient (and box-shadow) */
.w2ui-grid .w2ui-grid-body .w2ui-grid-columns,
.w2ui-grid .w2ui-grid-body .w2ui-grid-fcolumns {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: none;
    height: auto;
}

/* Column Headers */
.w2ui-grid .w2ui-grid-body .w2ui-grid-columns table,
.w2ui-grid .w2ui-grid-body .w2ui-grid-fcolumns table {
    height: 40px;
    /* font-family: var(--font-type3); */
}

.w2ui-grid .w2ui-grid-body table .w2ui-head {
    margin: 0;
    padding: 0;

    background-color: var(--clr-table-bg);
    background-image: none;
    color: var(--clr-table-color);
    border-right: none;
    border-bottom: none;
    /* border-right: 1px solid var(--clr-table-column-line); */
}

/* Removes the border on the right in the body */
.w2ui-grid .w2ui-grid-body table td {
    border-right: none;
}

/*--  Rows -- */

/* Set column number (records) styling */
.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table .w2ui-col-number {
    font-weight: bold;
    font-size: 14px;
    /* background-color: #fff; */
}

/* ODD */
.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-odd,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd {
    color: inherit;
    background-color: #fff;
}

/* Even  */
.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords table tr.w2ui-even,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even {
    color: inherit;
    background-color: #fff;
}

.w2ui-grid-data {
    /*This is for the css of the data of each column(Ex: Weight: 5kg [so it modifies the box containing the 5kg])*/
}
.w2ui-col-header {
    /*This is for the css div of the column names itself and modifies the design of it (Ex: Classification)*/
}
.w2ui-col-number {
    /*This is for the css of the column number of the grid or the number that tells you what item it is*/
}
.w2ui-sort-down {
    /*Modifies the sort button (arrow) of the columns*/
}
.w2ui-reset .w2ui-grid .w2ui-inactive {
    margin-left: 60px;
}

/* For item-grid */

#grid_item-grid_toolbar .w2ui-grid-toolbar .w2ui-reset .w2ui-toolbar {
    /*This is for the css of the toolbar with the search button and reload button*/
}
#grid_item-grid_footer .w2ui-grid-footer {
    /*This is for the css of the footer of the grid (The most bottom part of the grid)*/
}
#grid_item-grid_search_all .w2ui-search-all .w2field .w2ui-input {
    /*This is for the css of the search bar in the grid*/
}
#tb_item-grid_toolbar_right {
    /*This is for the css of the empty space beside the search bar(deleting this would shift the items on the left to the right)*/
}
